*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*::selection{
    color: #fff;
    background: #000;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f7f7f7;
}
#nav{
    /* height: 100px; */
    width: 100%;
    position: fixed;
    z-index: 99;
    /* background-color: burlywood; */
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#links{
    padding: 10px;
}
#nav #nav-part1{
    /* background-color: red; */
    height: 82px;
    overflow: hidden;
}
#nav #nav-part1 svg{
    display: block;
}
#nav #nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}
#nav #nav-part2 #icons i{
    margin: 0 20px;
    font-weight: 100;
    font-size: 18px;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#cursor{
    height: 180px;
    width: 180px;
    background-color: rgb(255, 129, 196);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    padding-top: 35vh;
    /* background: aqua; */
}
#page1 h1{
    font-size: 15.8vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 15vw;
    letter-spacing: -9px;
}
#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
    /* background: gray; */
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container #play{
    padding: 3vw 2vw;
    background: #000;
    color: #fff;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    /* background: aqua; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 2vw 2vw;
    justify-content: space-between;
}
#page2 .elem{
    height: 100%;
    width: 32%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
#page2 .elem .dets{
    height: 60px;
    width: 80%;
    border-radius: 50px;
    background-color: palegoldenrod;
    z-index: 9;
    position: absolute;
}

#page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 55vh;
    width: 40vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child:hover{
    cursor: pointer;
}
.child img{
    height: 100%;
}

@media  (max-width: 600px) {
    #nav{
        /* height: 100px; */
        width: 100%;
        position: fixed;
        z-index: 99;
        /* background-color: burlywood; */
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    #links{
        padding: 10px;
        display: none;
    }
    #nav #nav-part1{
        /* background-color: red; */
        height: 67px;
        overflow: hidden;
    }
    #nav #nav-part1 svg{
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #nav-part1 #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }
    #nav #nav-part2 #icons i{
        margin: 0 20px;
        font-weight: 100;
        font-size: 15px;
    }
    #icons{
        padding: 7px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }

    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 4vw;
        padding-top: 25vh;
    }
    #page1 h1{
        font-size: 15vw;
        letter-spacing: -3px;
    }
    #video-container{
        height: 40vh;
        margin-top: 3.5vw;
    }
    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size: 3.8vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        /* background: red; */
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw 4vw;
        justify-content: space-between;
    }
    #page2 .elem{
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin: 3vw;
    }
    #page2 .elem .dets{
        height: 40px;
        width: 80%;
        border-radius: 50px;
        background-color: palegoldenrod;
        z-index: 9;
        position: absolute;
    }
    #page3{
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .child{
        height: 55vh;
        width: 92vw;
        /* background-color: red; */
        padding: 2vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child:hover{
        cursor: pointer;
    }
    .child img{
        /* border: 2px solid black; */
        height: 85%;
        width: 100%;
    }
}
